{% extends 'base.html' %}

{% set page_head_title = 'finish_thanks' %}

{% block page_head_css %}
    <link rel="stylesheet" href="{{ url_for('finish_thanks.static', filename='css/finish_thanks.css') }}"/>
{% endblock %}

{% block page_body_main_content %}

    <h1>Dear Participant</h1> <br>
    <h1>During this study you were exposed to 10 news items. Please consider all these news items as fictitious,  do not relay on the information included in them, and do not share them with others  </h1>
   <br>

  <h1>Thanks for participating </h1>
    <br><br>

<h1>Please return to Amazon Mturk<br>
Your confirmation code is: {{final_code}} </h1>





{#<script>#}
{#        function workeridprint(){#}
{#            console.log(sessionStorage.getItem("User_ID"))#}
{#            let workerID = document.getElementById("worker_id")#}
{#            workerID.textContent = sessionStorage.getItem("User_ID")+"001BGU"#}
{#            console.log(workerID)#}
{#        }#}
{#        workeridprint()#}
{##}
{#    </script>#}
{% endblock %}

