{% extends 'base.html' %}

{% set page_head_title = 'Homepage' %}

{% block page_head_css %}
    <link rel="stylesheet" href="{{ url_for('homepage.static', filename='css/homepage.css') }}"/>

{% endblock %}

{% block page_body_main_content %}


    <form action='/homepage_insert_result' method="post" onsubmit="clicked()">
    {% for article in articles %}



        <div class="headline">
      {{ article[1] }}
        </div>
        <br>
        <div class="content">
        {{ article[2] }}

        </div>
        <br><br>
        <div class="inputs">
       <h3>Please answer the following questions</h3>
            <br>




        <input type="hidden" name=article_id value={{article[0]}}>

            <label for="rank_novelty"  >On a scale of 1 to 7, rank the novelty of the article</label>
            <br>
            <br>


       <p>(not novel at all) 1 </p> <input type="range"  min="1" max="7" id="rank_novelty" name="article_novelty_rank" required> <p>7(very novel) </p>
            <br>
            <br>
            <br>
        <label for="rank_outrageous" >On a scale of 1 to 7, rank the outrageous of the article</label>
        <br>
            <br>


            <p>(not outrageous at all) 1 </p><input type="range" min="1" max="7" id="outrageous" name="article_outrage_rank" ><p> 7(very outrageous)</p>
        <br><br><br>
       <label for="rank_refuted" >On a scale of 1 to 7, rank how the refuted do you estimate the article to be</label>
        <br>
            <br>

            <p> (not refuted at all)1 </p> <input type="range" min="1" max="7" id="rank_refuted" name="article_refuted_rank" ><p>7(very refuted) </p>


        </div>


    {% endfor %}

    <input type="submit" value="submit" class="btn" >
        <br>
    <p class="num_of_ques">{{ question_num }}  out of 15 </p>







    </form>

    <script>

    function clicked(){


        if (document.getElementById('rank_refuted').value==4 & document.getElementById('rank_novelty').value==4 & document.getElementById('outrageous').value==4 & clicked!=true  ) {
            -

            alert("Please change the default grades")

        }

    }


    </script>


{% endblock %}

