{% extends 'base.html' %}

{% set page_head_title = 'finish' %}

{% block page_head_css %}
    <link rel="stylesheet" href="{{ url_for('finish.static', filename='css/finish.css') }}"/>
{% endblock %}

{% block page_body_main_content %}
  <h1>Thanks for participating </h1>
    <br><br>

<h1>please return to Amazon Mturk<br>
your confirmation code is: <label id= "worker_id"></label> </h1>

<h6 style="text-align:center;">
        <img src="{{ url_for('finish.static', filename='media/BGU.PNG') }}" width="200" height="200" alt="BGU"/>
        <br>


{#<script>#}
{#        function workeridprint(){#}
{#            console.log(sessionStorage.getItem("User_ID"))#}
{#            let workerID = document.getElementById("worker_id")#}
{#            workerID.textContent = sessionStorage.getItem("User_ID")+"001BGU"#}
{#            console.log(workerID)#}
{#        }#}
{#        workeridprint()#}
{##}
{#    </script>#}
{% endblock %}

