


.btn1 {
  font-size: 18px;
  background-color: #fff;
  margin-top: 80px;
  display: inline-block;
  padding: 10px;
  border-radius: 5px;

  outline: none;
  border: 1px solid #000;
  transition: 0.3s;
  width: 200px;
  cursor: pointer;
}

.btn1:hover {
  background-color: #000;
  color: #fff;
  border-radius: 6px ;
  transform: scale(1.02);
}

div.form1{
    vertical-align: center;
    text-align: center;
    margin: 20% 20%;
    font-size: 20px;



}