{% extends 'base.html' %}

{% set page_head_title = 'declaration' %}

{% block page_head_css %}
    <link rel="stylesheet" href="{{ url_for('declaration.static', filename='css/declaration.css') }}"/>

{% endblock %}

{% block page_body_main_content %}





<div class="alert alert-info" role="alert">


    <h2> Informed consent to participate in an experiment </h2>
   <br>


<p class="content">
   1.	You are about to participate in a digital experiment as part of a decision-making study.
  <br>
  2.	During the experiment, you will be presented with several web-pages and you will be asked to answer several questions, some of which are mandatory and others are not.
 <br>
  3.	You can withdraw your participation at any time or refuse to answer any question; however, participants who will not complete the required tasks and reach the completion page will not receive credit for their participation.
  <br>
  4.	Upon completion of the experiment, you will reach a completion page in which you will receive a verification code. This code will verify that you completed the experiment in Amazon Mechanical Turk so that you will receive credit for this task.
 <br>
  5.	Confidentiality as to the identity of each participant is guaranteed. It is impossible to connect between the personal details of the participant and the answers and data provided during the experiment.
 <br>
  6.	There is no time limit for completing the experiment, which should take about 20 minutes.
 <br>
  7.	The experiment has been approved by Ben-Gurion University’s ethics committee.
  <br>
  8.	You can raise any question about the experiment by sending an email to hyaron@post.bug.ac.il
  <br>
  9.	Please check one of the following boxes:

</p>




<div class="form-check">
<br>
  <input class="form-check-input" type="checkbox" value="" id="defaultCheck1"  required name="terms" >
  <label class="form-check-label" for="defaultCheck1">
    I hereby confirm that I have understood the above and freely give my consent to participate in this experiment  </p>
  </label>
<br>
  <input class="form-check-input" type="checkbox" value="" id="defaultCheck2"  required name="terms" >
  <label class="form-check-label" for="defaultCheck2">
    I do not confirm</p> <br>
  </label>

</div>

  <script>

function checkAgree()
{
   if (document.getElementbyId("defaultCheck1").getAttribute("checked") )//checkbox is checked
   {
       location.href = "/instructions"; //load the next page.
   }
   else
   {
       Alert("You need to check the box before you can continue");
   }

}

document.getElementById("proceed-button").addEventListener("click", checkAgree ,false);


</script>






<script>


var i=0;

function redirect() {

  var checkBox1 = document.getElementById("defaultCheck1");
  var checkBox2 = document.getElementById("defaultCheck2");
  if (checkBox2.checked == true && checkBox1.checked==true){
   	alert("You must select only one option");

    }
 if (checkBox2.checked == false && checkBox1.checked==false){
   	alert("Please indicate that you accept the Terms and Conditions");

    }

 	if (checkBox2.checked == true && i>0){
        window.location.href = '/exit';

	}
   if (checkBox2.checked == true && i==0 && checkBox1.checked == false ){
   	i= 1;
         alert("This choice will lead to your leaving the site.");

    }

 if (checkBox2.checked == false && checkBox1.checked == true ){
   	   window.location.href = '/instructions';
    }



}



</script>



<p style="text-align:center;">
  <a onclick="redirect() "><button type="button" class="btn btn-info">next page</button></a>

</p>

<div>
  <hr>
  <p class="mb-0"></p>
</div>
</div>





<!-- jQuery first, then Popper.js, then Bootstrap JS -->
{#    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>#}
{#    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>#}
{#    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>#}
{#               </font>#}
{#           </font>#}



{#

    <div class="container-fluid">

        <div class="row">

        </div>

        <div class="row">
            <div class="col"></div>
            <div class="col-sm-11" style="padding-top: 20px;">
                <h2>Instructions</h2>
                <p style="font-size: 25px">
                    Welcome !<br>
In order to take part in the experiment, you will first need to confirm the consent form shown below. <br>
Then, You will be exposed to 15 articles from different fields (politics, sports and gossip) and you will asked to rate these articles according to 3 different measures.<br>
Please note that it is not possible to go back between the pages of the site and all articles must be ranked.<br>
There is no time limit for participating in the experiment, however, completing the experiment takes an average of 15 minutes.<br><br><br>
                    <b> Informed consent form to participate in the experiment:</b><br>
A. You are about to participate in an experiment as part of a decision-making study.<br>
B. During the experiment you will be presented with various articles and after that you will be asked to answer a number of questions.<br>
C. The study and experiment were approved by the Ethics Committee of Ben Gurion University, Israel.<br>
D. Confidentiality regarding the personal identity of each participant is guaranteed. There is no way to link the personal details of the participants to the answers and the data they provide during the experiment.<br>
E. You can quit at any time from participating in the experiment. However if you do so you will not be entitled to any compensation.<br>

{#                    <input type="checkbox"  id="accept_terms" name="accept_terms" required>I hereby declare that I have understood all of the above and that I have voluntarily given my consent to the above#}
{#                    </p>#}


{#
                        <form action="/homepage" >
                           <input type="checkbox"  id="accept_terms" name="accept_terms" required >
                <label for="yes" >I hereby declare that I have understood all of the above and that I have voluntarily given my consent to the above</label>
                <br>

                         <input type="submit" style="width: 150px; height: 50px" required value="Next page">

                     </form>


                <br><br><br><br>
            </div>
        </div>



</div>

    <script>  src= "{{ url_for('declaration.static', filename='js/declaration.js') }}" </script>#}

{% endblock %}

